@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

/*Generaal Styles Starts*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	padding: 0;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.container{
	width: 70%;
	margin: auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.text-center{
	text-align: center !important;
}
.text-left{
	text-align: left !important;
}
.text-right{
	text-align: right !important;
}
.text-uppercase{
	text-transform: uppercase !important;
}
.text-capitalize{
	text-transform: uppercase !important;
}
.align-items-center{
	align-items: center;
}
.bg-white{
	background-color: #FFFFFF;
}
/*header section Starts*/
.header{
	width: 100%;
	position: fixed;
	width: 100%;
	left:0;
	top:0;
	z-index: 99;
	padding: 15px 40px;
	background-color: rgba(255, 255, 255, 1);
	border-bottom: 1px solid #CCCCCC;
}
.header-main{
	width: 100%;
	/*background-color: rgba(255, 255, 255, 0.94);;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header .menu{
	display: none;
}
.header .menu > .menu-item{
	display: inline-block;
	margin-left: 50px;
	position: relative;
}
.header .menu > .menu-item:first-child{
	margin-left: 0;
}
.header .menu > .menu-item > a{
	display: block;
	padding: 12px 0;
	font-size: 14px;
	color: #2B1E70;
	text-transform: capitalize;
	font-weight: bold;
	transition: all 0.3s ease;
} 
.header .menu > .menu-item > a img{
	vertical-align: middle;
	margin-right: 10px;
}
.header .open-nav-menu{
	height: 34px;
	width: 40px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 5px;
	border: 2px solid #2B1E70;
}
.header .open-nav-menu span{
	display: block;
	height: 3px;
	width: 24px;
	background-color: #2B1E70;
    position: relative;
}
.header .open-nav-menu span:before,
.header .open-nav-menu span:after{
	content: '';
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #2B1E70;
	box-sizing: border-box;
}
.header .open-nav-menu span:before{
	top:-7px;
}
.header .open-nav-menu span:after{
	top:7px;
}
.header .close-nav-menu{
	height: 40px;
	width: 40px;
	background-color: #ffffff;
	margin:0 0 15px 15px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}
.header .close-nav-menu img{
	width: 16px;
}
.header .menu-overlay{
	position: fixed;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity:0;
	transition: all 0.3s ease;
}
.header .noti-user a{
	font-size: 14px;
	font-weight: 600;
	color: #404040;
	text-transform: capitalize;
	margin-left: 20px;
}
.header .noti-user a img{
	vertical-align: middle;
	margin-right: 5px;
}
.header .menu > .menu-item.noti-user-sm{
	display: none;
}

/*sidebar and main styles*/
.sidebar-main{
	width: 100%;
	margin-top: 68px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.sidebar-main .sidebar{
	width: 18%;
	padding: 30px 0;
	background-color: #F5F5F5;
}
.sidebar-main .sidebar .sidebar-menu li{
	margin-bottom: 10px;
}
.sidebar-main .sidebar .sidebar-menu li a{
	font-size: 16px;
	color: #343A40;
	display: block;
	padding: 10px 15px;
	text-transform: capitalize;
}
.sidebar-main .sidebar .sidebar-menu li a img{
	vertical-align: middle;
	margin-right: 5px;
}
.sidebar-main .sidebar .sidebar-menu li a img.light{
	display: none;
}
.sidebar-main .sidebar .sidebar-menu li a.active,
.sidebar-main .sidebar .sidebar-menu li a:hover{
	border-left: 5px solid #138EAA;
	background-color: #EE3A48;
	color: #ffffff;
}
.sidebar-main .sidebar .sidebar-menu li a.active .dark,
.sidebar-main .sidebar .sidebar-menu li a:hover .dark{
	display: none;
}
.sidebar-main .sidebar .sidebar-menu li a.active .light,
.sidebar-main .sidebar .sidebar-menu li a:hover .light{
	display: inline-block;
}

/*Main Section Styles*/
.sidebar-main .main{
	width: 82%;
}
.sidebar-main .main .main-content{
	padding: 30px 20px;
}
.sidebar-main .main .main-content .welcome-stats{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.sidebar-main .main .main-content .welcome{
	width: 58%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background: #C9C9C0;
	box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 15px;
	padding: 10px 20px;
}
.sidebar-main .main .main-content .welcome .welcome-text{
	width: 58%;
}
.sidebar-main .main .main-content .welcome .welcome-text-head{
	margin-bottom: 15px;
}
.sidebar-main .main .main-content .welcome .welcome-text-head p{
	font-size: 24px;
	font-weight: 700;
	color: #ffffff;
}
.sidebar-main .main .main-content .welcome .welcome-text-desc{
	margin-bottom: 15px;
}
.sidebar-main .main .main-content .welcome .welcome-text-desc p{
	font-size: 16px;
	color: #ffffff;
	font-weight: 600;
}
.sidebar-main .main .main-content .welcome .welcome-text-points ul{
	list-style-type: disc;
	list-style-position: inside;
	margin-bottom: 25px;
}
.sidebar-main .main .main-content .welcome .welcome-text-points ul li{
	font-size: 16px;
	color: #ffffff;
}
.sidebar-main .main .main-content .welcome .welcome-text-btn{

}.sidebar-main .main .main-content .welcome .welcome-text-btn a{
	font-size: 16px;
	color: #FFFFFF;
	text-transform: capitalize;
	background-color: #D62828;
	border-radius: 5px;
	padding: 8px 12px;
}
.sidebar-main .main .main-content .welcome .welcome-img{
	width: 40%;
}
.sidebar-main .main .main-content .welcome .welcome-img img{
	width: 100%;
}

.sidebar-main .main .main-content .stats{
	width: 41%;
}
.sidebar-main .main .main-content .stats .stats-items{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.sidebar-main .main .main-content .stats .stats-items .stats-item{
	width: 32%;
	background-color: #ffffff;
	border-radius: 15px;
	padding: 5px 15px;
	box-shadow: 0px 5px 10px rgba(106, 106, 106, 0.12);
}
.stats .stats-items .stats-item .stats-item-number{
	font-size: 40px;
	color: #696969;
	font-weight: 700;
	margin-bottom: 40px;
}
.stats .stats-items .stats-item .stats-item-icon img{
	width: 30px;
	height: 25px;
}
.stats .stats-items .stats-item .stats-item-text{
	font-size: 16px;
	color: #404040;
	font-weight: 600;
	text-transform: capitalize;
	margin-bottom: 5px;
}
.stats .profile-views{
	width: 100%;
	background-color: #ffffff;
	padding: 10px 15px;
	margin-top: 20px;
	border-radius: 15px;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.12);
}
.stats .profile-views .profile-views-head{
	font-size: 20px;
	color: #404040;
	font-weight: 600;
	text-transform: capitalize;	
}
.stats .profile-views .profile-views-items{
	width: 100%;
	margin: 15px 0 5px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.stats .profile-views .profile-views-items .profile-views-item{
	width: 11.7%;
}
.stats .profile-views .profile-views-items .profile-views-item .profile-views-item-img{
	text-align: center;

}
.stats .profile-views .profile-views-items .profile-views-item .profile-views-item-img img{
	width: 80%;
}
.stats .profile-views .profile-views-items .profile-views-item .profile-views-item-text{
	font-size: 12px;
	color: #404040;
	text-transform: capitalize;
	text-align: center;
}

/*Notification and Rating Section Styles*/
.notifications-rating{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0;
}
.notifications-rating .notifications{
	width: 63%;
	border-radius: 15px;
	box-shadow: 0 0 5px 5px rgb(0 0 0 / 12%);
}
.notifications-rating .notifications .notifications-head{
	padding: 10px 20px;
	border-bottom: 1px solid #DDDDDD;
}
.notifications-rating .notifications .notifications-head p{
	font-size: 24px;
	color: ##404040;
	font-weight: 700;
}
.notifications-rating .notifications .notifications-items{
	padding: 0 5px;
	margin-bottom: 10px;
}
.notifications-rating .notifications .notifications-items .notifications-item{
	width: 100%;
	margin-top: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 8px 0 8px 20px;
	background-color: #F2F2F2;
}
.notifications .notifications-items .notifications-item .notifications-item-img{
	width: 10%;
}
.notifications .notifications-items .notifications-item .notifications-item-text{
	width: 82%;
}
.notifications .notifications-items .notifications-item .notifications-item-text p{
	font-size: 13px;
	color: #B5B5C3;
	padding: 0 5px;
}
.notifications .notifications-items .notifications-item .notifications-item-text p span{
	color: #D62828;
	font-weight: 700;
}
.notifications .notifications-items .notifications-item .notifications-item-time{
	width: 8%;
}
.notifications .notifications-items .notifications-item .notifications-item-time p{
	font-size: 13px;
	color: #3F4254;
	text-transform: capitalize;
	font-weight: 400;
}
.notifications .notifications-btn{
	margin-bottom: 10px;
	text-align: center;
}
.notifications .notifications-btn a{
	font-size: 13px;
	color: #FFFFFF;
	background-color: #D62828;
	border-radius: 5px;
	padding: 5px 40px;
	text-transform: capitalize;
}

.notifications-rating .rating{
	width: 35%;
	background-color: #FFFFFF;
	border-radius: 15px;
	box-shadow: 0 0 5px 5px rgb(0 0 0 / 12%);
}
.notifications-rating .rating .rating-head{
	padding: 10px 20px;
	border-bottom: 1px solid #DDDDDD;
}
.notifications-rating .rating .rating-head p{
	font-size: 24px;
	color: ##404040;
	font-weight: 700;
	text-transform: capitalize;
}
.notifications-rating .rating .rating-img{
	padding: 20px;
	text-align: center;
}
.notifications-rating .rating .rating-img img{
	width: 80%;

}

/*profile.html page styles*/
.main .main-content .profile{
	width: 100%;
	background: #FFFFFF;
	box-shadow: 0px 25px 50px rgba(8, 21, 66, 0.04);
	border-radius: 3px;
}
.profile .profile-header{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
	padding: 20px;
}
.profile .profile-header .profile-header-edit-btn{
	position: absolute;
	top: 15px;
	right: 20px;
}
.profile .profile-header .profile-header-text{
	padding: 10px 0  0 20px;
}
.profile .profile-header .profile-header-text .profile-header-text-name p{
	font-size: 24px;
	font-weight: 700;
	color: #121029;
}
.profile .profile-header .profile-header-text .profile-header-text-name p img{
	vertical-align: middle;
	margin-right: 5px;
}
.profile .profile-header .profile-header-text .profile-header-text-desig{
	margin: 10px 0;
}
.profile .profile-header .profile-header-text .profile-header-text-desig p{
	font-size: 16px;
	font-weight: 600;
	color: #171F46;
	text-transform: capitalize;
}
.profile .profile-header .profile-header-text .profile-header-text-desig p img{
	vertical-align: middle;
}
.profile .profile-header .profile-header-text .profile-header-text-date p{
	font-size: 14px;
	color: #92969A;
}

.profile .profile-header .profile-header-text .profile-header-text-btns{
	margin-top: 15px;
}
.profile .profile-header .profile-header-text .profile-header-text-btns a{
	text-transform: capitalize;
	font-size: 13px;
	color: #FFFFFF;
	letter-spacing: 0.39px;
	border-radius: 3px;
	padding: 10px 15px;
}
.profile .profile-header .profile-header-text .profile-header-text-btns a img{
	vertical-align: middle;
}
.profile .profile-header .profile-header-text .profile-header-text-btns a.red-bg{
	background-color: #EE3A48;
}
.profile .profile-header .profile-header-text .profile-header-text-btns a.tale-bg{
	background-color: #138EAA;
}
.profile .profile-tabs{
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #DEE2E6;
}
.profile .profile-tabs button{
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 20px;
	transition: 0.3s;
	font-size: 14px;
	color: rgba(126, 133, 142, 0.6);
	text-transform: uppercase;
}
.profile .profile-tabs button:hover {
  	color: #EE3A48;
  	font-weight: 600;
}
.profile .profile-tabs button.active {
  color: #EE3A48;
  font-weight: 600;
}
.profile .profile-tab-content{
	display: none;
  	padding: 6px 12px;
  	margin-top: 20px;
  	box-shadow: 0px 25px 50px rgba(8, 21, 66, 0.04);
  	border-radius: 3px;
  	padding: 0 20px;
}
.profile .profile-tab-content .profile-body .profile-body-head{
	border-bottom: 1px solid #E1E0EA;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.profile .profile-tab-content .profile-body .profile-body-head p{
	font-size: 16px;
	font-weight: 700;
	color: #121029;
	text-transform: uppercase;
}
.profile .profile-tab-content .profile-body .personal-details{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0 0 0;
}
.profile .profile-tab-content .profile-body .personal-details-item{
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
}
.profile-body .personal-details-item .personal-details-item-head p{
	font-size: 16px;
	color: #121029;
	text-transform: capitalize;
}
.profile-body .personal-details-item .personal-details-item-desc p{
	font-size: 16px;
	color: #121029;
	margin-left: 20px;
}
.profile-body .biography-text{
	padding-bottom: 20px;
}
.profile-body .biography-text p{
	font-size: 15px;
	color: #121029;
	line-height: 21px;
}
/*Experience Section Styles*/
.profile-body .experience-item{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 20px;
}
.profile-body .experience-item .experience-item-company{
	width: 20%;
}
.profile-body .experience-item .experience-item-company .experience-item-company-name{
	font-size: 18px;
	font-weight: 700;
	color: #EE3A48;
	text-transform: capitalize;
}
.profile-body .experience-item .experience-item-company .experience-item-company-date{
	color: #444444;
	font-size: 15px;
	letter-spacing: 0.4px;
	margin-top: 10px;
}
.profile-body .experience-item .experience-item-details{
	width: 80%;
}
.profile-body .experience-item .experience-item-details .experience-item-details-head p{
	font-size: 18px;
	font-weight: 700;
	color: #333333;
	text-transform: capitalize;
	margin-bottom: 10px;
}
.profile-body .experience-item .experience-item-details .experience-item-details-desc p{
	font-size: 15px;
	color: #444444;
	line-height: 28px;
	letter-spacing: 0.4px;
}

/*edit-profile.html page start*/
.profile-body .edit-profile .edit-profile-head{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.profile-body .edit-profile .edit-profile-head .edit-profile-head-img{
	width: 23%;
}
.profile-body .edit-profile .edit-profile-head .edit-profile-head-bio{
	width: 77%;
}
.profile-body .edit-profile .edit-profile-head .edit-profile-head-bio .bio{
	width: 100%;
	border: none;
	outline: none;
	border: 3px dashed #000000;
	font-size: 18px;
	padding: 10px 20px;
	color: #475F7B;
}
.profile-body .edit-profile .edit-profile-body{
	width: 100%;
	margin: 30px 0;
}
.profile-body .edit-profile .edit-profile-body .edit-profile-body-item{
	width: 100%;
	padding-bottom: 10px;
	margin-bottom: 15px;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #D5DFEA;
}
.profile-body .edit-profile .edit-profile-body .edit-profile-body-item label{
	width: 25%;
	font-size: 16px;
	text-transform: capitalize;
	color: #828282;
}
.profile-body .edit-profile .edit-profile-body .edit-profile-body-item input{
	width: 75%;
	border: none;
	font-size: 16px;
	color: #828282;
	outline: none;
}
.profile-body .edit-profile .edit-profile-body .edit-profile-body-item textarea{
	width: 74%;
}
.profile-body .edit-profile .edit-profile-body .edit-profile-body-btns{
	width: 100%;
	margin-top: 30px;
	text-align: center;
}
.profile-body .edit-profile .edit-profile-body .edit-profile-body-btns button{
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	border-radius: 30px;
	background-color: #EE3A48;
	border: none;
	padding: 10px 30px;
	margin-right: 10px;
	text-transform: capitalize;
	cursor: pointer;
}
.profile-body .edit-profile .edit-profile-body .edit-profile-body-btns button.bg-grey{
	background-color: #C9C9C0;
}

/*portfolio.html page styles*/
.main .main-content .portfolio{
	width: 100%;
}
.portfolio .portfolio-header{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px;
} 
.portfolio .portfolio-header .portfolio-header-search{
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.portfolio .portfolio-header .portfolio-header-search .search{
	width: 70%;
	position: relative;
}
.portfolio .portfolio-header .portfolio-header-search .search input[type="search"]{
	width: 100%;
	padding: 10px 10px 10px 40px;
	border: 1px solid #828282;
	border-radius: 8px;
	outline: none;
	color: rgba(0, 0, 0, 0.54);
	font-size: 16px;
}
.portfolio .portfolio-header .portfolio-header-search .search .search-icon{
	position: absolute;
	top: 7px;
	left: 10px;
}
.portfolio .portfolio-header .portfolio-header-search .dropdown{
	position: relative;
	width: 28%;
}
.portfolio .portfolio-header .portfolio-header-search .dropdown select{
	width: 100%;
	font-size: 16px;
	color: #828282;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 8px;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
	outline: none;
}
.portfolio .portfolio-header .portfolio-header-search .dropdown img{
	position: absolute;
	right: 15px;
	top: 15px;
	width: 20px;
}
.portfolio .portfolio-header .portfolio-header-filter{
	width: 28%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.portfolio .portfolio-header .portfolio-header-filter .filter-dropdown{
	width: 35%;
	position: relative;
}
.portfolio .portfolio-header .portfolio-header-filter .filter-dropdown select{
	position: absolute;
	top: 0;
	/*width: 100%;*/
	font-size: 16px;
	color: #828282;
	padding: 8px 0;
	cursor: pointer;
	border-radius: 8px;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
	outline: none;
	border: none;
	color: #1F1F1F;
}
.portfolio .portfolio-header .portfolio-header-filter .filter-dropdown .angle-down{
	position: absolute;
	top: 12px;
	right: 0;
}
.portfolio .portfolio-header .portfolio-header-filter .create-project{
	width: 58%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.portfolio .portfolio-header .portfolio-header-filter .create-project img{
	width: 30px;
	height: 30px;
}
.portfolio .portfolio-header .portfolio-header-filter .create-project .create-btn{
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	background-color: #EE3A48;
	text-transform: capitalize;
	padding: 9px 10px;
	border-radius: 8px;
}
.portfolio .portfolio-items{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.portfolio .portfolio-items .portfolio-item{
	width: 32%;
	border: 1px solid #828282;
	border-radius: 4px;
	padding: 20px;
	position: relative;
	margin-bottom: 20px;
}
.portfolio .portfolio-items .portfolio-item .showLeft {
  border: 1px solid white !important;
  text-shadow: white !important;
  color: black !important;
  /*padding: 10px;*/
}
.portfolio .portfolio-items .portfolio-item .icons li {
  background: none repeat scroll 0 0 #777777;
  height: 4px;
  width: 4px;
  line-height: 0;
  list-style: none outside none;
  margin-right: 15px;
  margin-top: 3px;
  vertical-align: top;
  border-radius: 50%;
  pointer-events: none;
}
.portfolio .portfolio-items .portfolio-item .btn-left {
  left: 0.4em;
}
.portfolio .portfolio-items .portfolio-item .btn-right {
  right: 0.4em;
}
.portfolio .portfolio-items .portfolio-item .btn-left,
.btn-right {
  position: absolute;
  top: 0.24em;
}
.portfolio .portfolio-items .portfolio-item .dropbtn {
  position: absolute;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 10px;
}
.portfolio .portfolio-items .portfolio-item .dropdown {
  position: absolute;
  top: 3px;
  display: inline-block;
  right: 5px;
}
.portfolio .portfolio-items .portfolio-item .dropdown-content {
  display: none;
  position: relative;
  margin-top: 30px;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.portfolio .portfolio-items .portfolio-item .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.portfolio .portfolio-items .portfolio-item .dropdown a:hover {
  background-color: #f1f1f1;
}
.portfolio .portfolio-items .portfolio-item .show {
  display: block;
}
.portfolio .portfolio-items .portfolio-item-header{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 10px;
}
.portfolio .portfolio-items .portfolio-item-header .portfolio-item-header-img{
	width: 48px;
	height: 48px;
	background-color: #4D00CA;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.portfolio .portfolio-items .portfolio-item-header .portfolio-item-header-img p{
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
}
.portfolio .portfolio-items .portfolio-item-header .portfolio-item-header-text{
	width: 60%;
}
.portfolio .portfolio-items .portfolio-item-header .portfolio-item-header-text .heading{
	font-size: 16px;
	color: #171F46;
	font-weight: 600;
}
.portfolio .portfolio-items .portfolio-item-header .portfolio-item-header-text .open-reading{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.portfolio .portfolio-items .portfolio-item-header .portfolio-item-header-text .open-reading p{
	font-size: 18px;
	text-transform: capitalize;
	color: #8E8E8E;
}
.portfolio .portfolio-items .portfolio-item-header .portfolio-item-header-text .open-reading p span{
	font-size: 24px;
	margin-right: 5px;
	font-weight: 700;
}
.portfolio .portfolio-items .portfolio-item-header .portfolio-item-header-text .open-reading p span.red{
	color: #EE3A48;
}
.portfolio .portfolio-items .portfolio-item-header .portfolio-item-header-text .open-reading p span.tale{
	color: #138EAA;
}
.portfolio .portfolio-items .portfolio-item-header .portfolio-item-header-comment{
	padding-right: 15px;
}
.portfolio .portfolio-items .portfolio-item-header .portfolio-item-header-comment img{
	width: 30px;
}
.portfolio .portfolio-items .portfolio-item-body .portfolio-item-body-desc  p{
	font-size: 15px;
	color: #8E8E8E;
}
.portfolio .portfolio-items .portfolio-item-body .portfolio-item-body-date{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
	padding: 7px;
	border: 1px solid #D7DFE9;
}
.portfolio .portfolio-items .portfolio-item-body .portfolio-item-body-date .date p{
	font-size: 12px;
	font-weight: 600;
	color: #7E858E;
}
.portfolio .portfolio-items .portfolio-item-body .portfolio-item-body-date .btn a{
	font-size: 10px;
	color: #ffffff;
	text-transform: capitalize;
	background-color: #FF0B37;
	border-radius: 30px;
	padding: 4px 20px;
}
.portfolio .portfolio-items .portfolio-item-body .portfolio-item-body-date .btn a.grey-bg{
	background-color: #828282;
}
.portfolio .portfolio-items .portfolio-item-footer{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.portfolio .portfolio-items .portfolio-item-footer .portfolio-item-footer-item .heading{
	font-size: 12px;
	font-weight: 700;
	color: #7E858E;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.portfolio .portfolio-items .portfolio-item-footer .portfolio-item-footer-item .user{
	font-size: 13px;
	text-transform: capitalize;
	color: #7E858E;
}
.portfolio .portfolio-items .portfolio-item-footer .portfolio-item-footer-item .user img{
	vertical-align: middle;
	margin-right: 10px;
}


/* Media queries - Responsive timeline on screens less than 600px wide */
/*Style for different devices*/
@media(max-width: 767px){
	.header{
		padding: 15px;
	}
	.header .menu{
		display: block;
	}
	.container{
		width: 90%;
	}
	.header-main{
		width: 100%;
	}
	.header .logo{
		padding: 0;
	}
	.header .logo a img{
		width: 120px;
	}
	.header .menu-overlay.active{
	visibility: visible;
	opacity: 1;
	}
	.header .nav-menu{
		position: fixed;
		right: -280px;
		visibility: hidden;
		width: 280px;
		height: 100%;
		top:0;
		overflow-y: auto;
		background-color: #222222;
		z-index: 1000;
		padding: 15px 0;
		transition: all 0.5s ease;
	}
	.header .nav-menu.open{
		visibility: visible;
		right: 0px;
	}
	.header .menu > .menu-item{
		display: block;
		margin:0;
	}
	.header .menu > .menu-item-has-children > a{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.header .menu > .menu-item > a{
		color: #ffffff;
		padding: 12px 15px;
		border-bottom: 1px solid #333333;
	}
	.header .menu > .menu-item:first-child > a{
	    border-top: 1px solid #333333;	
	}
	.header .close-nav-menu,
	.header .open-nav-menu{
		display: flex;
	}
	.header .noti-user{
		display: none;
	}
	.header .menu > .menu-item.noti-user-sm{
		display: block;
	}

	/*sidebar styles*/
	.sidebar{
		display: none;
	}

	/*main and main content style*/
	.sidebar-main .main{
		width: 95%;
		margin: 10px auto;	
	}
	.sidebar-main .main .main-content{
		padding: 0;
	}

	/*Welcome Stats Style*/
	.sidebar-main .main .main-content .welcome{
		width: 100%;
	}
	.sidebar-main .main .main-content .welcome .welcome-text{
		width: 100%;
		margin-bottom: 20px;
	}
	.sidebar-main .main .main-content .welcome .welcome-img{
		width: 100%;
	}
	.sidebar-main .main .main-content .stats{
		width: 100%;
		margin-top: 20px;
	}
	.stats .stats-items .stats-item .stats-item-number{
		margin-bottom: 10px;
		font-size: 30px;
	}
	.stats .stats-items .stats-item .stats-item-icon img{
		height: 25px;
	}
	.stats .stats-items .stats-item .stats-item-text{
		font-size: 14px;
		font-weight: 400;
	}

	/*Notification and Rating Styles*/
	.notifications-rating .notifications{
		width: 100%;
		margin-bottom: 20px;
	}
	.notifications-rating .notifications .notifications-items .notifications-item{
		padding: 10px;
	}
	.notifications-rating .notifications .notifications-items .notifications-item .notifications-item-img{
		width: 100%;
	}
	.notifications-rating .notifications .notifications-items .notifications-item .notifications-item-time{
		width: 15%;
	}
	.notifications-rating .rating{
		width: 100%;
	}

	/*profile.html page styles*/
	.profile .profile-header .profile-header-text{
		padding: 0;
	}
	.profile .profile-tabs button{
		padding: 10px 5px;
		font-size: 16px;
		display: block;
		width: 100%;
		border: 1px solid #EE3A48;
	}
	.profile .profile-tab-content .profile-body .profile-body-head p{
		font-size: 16px;
	}
	.profile .profile-tab-content .profile-body .personal-details-item{
		width: 100%;
	}
	.profile-body .personal-details-item .personal-details-item-desc p{
		margin-left: 10px;
	}
	.profile-body .experience-item .experience-item-company{
		width: 100%;
		margin-bottom: 20px;
	}
	.profile-body .experience-item .experience-item-details{
		width: 100%;
	}

	/*Edit profile.html page styles*/
	.profile-body .edit-profile .edit-profile-head .edit-profile-head-img{
		width: 100%;
		margin-bottom: 10px;
	}
	.profile-body .edit-profile .edit-profile-head .edit-profile-head-bio{
		width: 100%;
	}
	.profile-body .edit-profile .edit-profile-body .edit-profile-body-item label{
		width: 35%;
	}
	.profile-body .edit-profile .edit-profile-body .edit-profile-body-item input{
		width: 65%;
	}
	.profile-body .edit-profile .edit-profile-body .edit-profile-body-item textarea{
		width: 100%;
		margin-top: 10px;
	}
	.profile-body .edit-profile .edit-profile-body .edit-profile-body-btns{
		padding-bottom: 20px;
	}

	/*portfolio.html styles*/
	.portfolio .portfolio-header .portfolio-header-search{
		width: 100%;
		margin-bottom: 20px;
	}
	.portfolio .portfolio-header .portfolio-header-search .search{
		width: 60%;
	}
	.portfolio .portfolio-header .portfolio-header-search .dropdown{
		width: 38%;
	}
	.portfolio .portfolio-header .portfolio-header-search .dropdown img{
		width: 15px;
		top: 15px;
	}
	.portfolio .portfolio-header .portfolio-header-filter{
		width: 100%;
	}
	.portfolio .portfolio-header .portfolio-header-filter .filter-dropdown select{
		padding: 8px 10px;
	}
	.portfolio .portfolio-header .portfolio-header-filter .create-project .create-btn{
		padding: 10px 30px;
	}

	/*portfolio.html page styles*/
	.portfolio .portfolio-items .portfolio-item{
		width: 100%;
	}

}

@media(min-width: 768px) and (max-width:  1023px){
	.container{
		width: 90%;
	}
	.header{
		padding: 15px 30px;
	}
	.header .menu{
		display: inline-block;
	}
	.header-main{
		width: 100%;
	}
	.header .logo{
		padding: 0;
	}
	.header .logo a img{
		width: 120px;
	}
	.header .menu-overlay.active{
	visibility: visible;
	opacity: 1;
	}
	.header .nav-menu{
		position: fixed;
		right: -280px;
		visibility: hidden;
		width: 400px;
		height: 100%;
		top:0;
		overflow-y: auto;
		background-color: #222222;
		z-index: 1000;
		padding: 15px;
		transition: all 0.5s ease;
	}
	.header .nav-menu.open{
		visibility: visible;
		right: 0px;
	}
	.header .menu > .menu-item{
		display: block;
		margin:0;
	}
	.header .menu > .menu-item > a{
		color: #ffffff;
		padding: 15px;
		font-size: 18px;
		border-bottom: 1px solid #333333;
	}
	.header .menu > .menu-item:first-child > a{
	    border-top: 1px solid #333333;	
	}
	.header .close-nav-menu,
	.header .open-nav-menu{
		display: flex;
	}
	.header .noti-user{
		display: none;
	}
	.header .menu > .menu-item.noti-user-sm{
		display: block;
	}

	/*sidebar styles*/
	.sidebar-main .sidebar{
		display: none;
	}

	.sidebar-main .main{
		width: 100%;
	}

	/*welcome stats styles*/
	.sidebar-main .main .main-content .welcome{
		width: 100%;
		margin-bottom: 20px;
	}
	.sidebar-main .main .main-content .stats{
		width: 100%;
	}
	.sidebar-main .main .main-content .stats .stats-items .stats-item{
		padding: 7px 30px;
	}

	/*Notification and rating styles*/
	.notifications-rating .notifications{
		width: 100%;
		margin-bottom: 20px;
	}
	.notifications-rating .rating{
		width: 100%;
	}

	/*portfolio.html page style*/
	.portfolio .portfolio-header .portfolio-header-search{
		width: 58%;
	}
	.portfolio .portfolio-header .portfolio-header-search .search{
		width: 65%;
	}
	.portfolio .portfolio-header .portfolio-header-search .dropdown{
		width: 32%;
	}
	.portfolio .portfolio-header .portfolio-header-filter{
		width: 40%;
	}

	/*portfolio.html page styles*/
	.portfolio .portfolio-items .portfolio-item{
		width: 48%;
	}

}

@media(min-width: 1024px) and (max-width:  1050px){
	.container{
		width: 80%;
	}
	.header .menu > .menu-item{
		margin-left: 25px;
	}
	.header .menu > .menu-item a,
	.header .register-login-btn a{
		font-size: 16px;
	}

	/*sidebar styles*/
	.sidebar-main .sidebar{
		width: 20%;
	}
	.sidebar-main .main{
		width: 80%;
	}

	/*welcome stats styles*/
	.sidebar-main .main .main-content .welcome{
		width: 100%;
		margin-bottom: 20px;
	}
	.sidebar-main .main .main-content .stats{
		width: 100%;
	}
	.sidebar-main .main .main-content .stats .stats-items .stats-item{
		padding: 7px 30px;
	}

	/*Notification and rating styles*/
	.notifications-rating .notifications{
		width: 100%;
		margin-bottom: 20px;
	}
	.notifications-rating .rating{
		width: 100%;
	}

	/*portfolio.html page style*/
	.portfolio .portfolio-header .portfolio-header-search{
		width: 58%;
	}
	.portfolio .portfolio-header .portfolio-header-search .search{
		width: 65%;
	}
	.portfolio .portfolio-header .portfolio-header-search .dropdown{
		width: 32%;
	}
	.portfolio .portfolio-header .portfolio-header-filter{
		width: 40%;
	}

	/*portfolio.html page styles*/
	.portfolio .portfolio-items .portfolio-item{
		width: 48%;
	}
}