@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

/*Generaal Styles Starts*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	padding: 0;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.container{
	width: 70%;
	margin: auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.text-center{
	text-align: center !important;
}
.text-left{
	text-align: left !important;
}
.text-right{
	text-align: right !important;
}
.text-uppercase{
	text-transform: uppercase !important;
}
.text-capitalize{
	text-transform: uppercase !important;
}
.align-items-center{
	align-items: center;
}
.bg-white{
	background-color: #FFFFFF;
}

/*header section Starts*/
.header{
	width: 100%;
	position: fixed;
	width: 100%;
	left:0;
	top:0;
	z-index: 99;
	padding: 15px 40px;
	background-color: rgba(255, 255, 255, 1);
}
.header-main{
	width: 100%;
	/*background-color: rgba(255, 255, 255, 0.94);;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header .menu > .menu-item{
	display: inline-block;
	margin-left: 50px;
	position: relative;
}
.header .menu > .menu-item:first-child{
	margin-left: 0;
}
.header .menu > .menu-item > a{
	display: block;
	padding: 12px 0;
	font-size: 14px;
	color: #2B1E70;
	text-transform: capitalize;
	font-weight: bold;
	transition: all 0.3s ease;
}
.header .open-nav-menu{
	height: 34px;
	width: 40px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 5px;
	border: 2px solid #2B1E70;
}
.header .open-nav-menu span{
	display: block;
	height: 3px;
	width: 24px;
	background-color: #2B1E70;
    position: relative;
}
.header .open-nav-menu span:before,
.header .open-nav-menu span:after{
	content: '';
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #2B1E70;
	box-sizing: border-box;
}
.header .open-nav-menu span:before{
	top:-7px;
}
.header .open-nav-menu span:after{
	top:7px;
}
.header .close-nav-menu{
	height: 40px;
	width: 40px;
	background-color: #ffffff;
	margin:0 0 15px 15px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}
.header .close-nav-menu img{
	width: 16px;
}
.header .menu-overlay{
	position: fixed;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity:0;
	transition: all 0.3s ease;
}
.header .register-login-btn a{
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 7px 15px;
	border-radius: 4px;
	text-transform: capitalize;
	background-color: #0CBC35;
	margin-left: 20px;
}
.header .register-login-btn .login-btn{
	background-color: #EE3A48;
}
.header .register-login-btn .register-btn{
	background-color: #138EAA;
}
.header .menu > .menu-item.register-login-btn-sm{
	display: none;
}

/*Home Style Starts*/
.home{
	height: 650px;
	overflow:hidden;
	position: relative;
	z-index: -1;
}

.home .slide{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	z-index:1; 
	display:none;
	padding: 150px 15px 0 15px;
	animation: slide 2s ease;
}
.home .slide.active{
	display: flex;
}
@keyframes slide{
	0%{
		transform:scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}
.home #slide-1,
.home #slide-3{
	background-image: url('../img/home-bg-1.png');
	background-size: cover;
}
.home #slide-2{
	background-image: url('../img/home-bg-2.png');
	background-size: cover;
}
.home .container{
	 flex-grow: 1;
}
.home .caption{
	/*width:70%;*/
	margin-left: 20px;

}
.home .caption h1{
	font-size:42px;
	color: #EE3A48;
	margin-bottom: 20px;
	
}
.home .caption h1 span{
	color: #FFFFFF;
}
.home .slide.active .caption h1{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1s;
}
.home .caption a{
 	display: inline-block;
 	margin-right: 10px;
 	border-radius: 30px;
 	background-color: #A6A1B5;
 	color: #ffffff;
 	font-size: 16px;
 	font-weight: 600;
 	text-transform: capitalize;
 	padding: 7px 15px;
}
.home .caption a.bg-red{
	background-color: #EE3A48;
}
.home .slide.active .caption a{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1.4s;
}

@keyframes captionText{
	0%{
		opacity:0; transform: translateX(-100px);
	}
	100%{
	 opacity:1; transform: translateX(0px);	
	}
}

.home .controls .prev,
.home .controls .next{
 position: absolute;
 z-index:2;
 top:50%;
 height:30px;
 width: 30px;
 margin-top: -20px;
 text-align: center;
 line-height: 30px;
 cursor:pointer;
 transition: all .5s ease;
 display: none;
}
.home .controls .prev{
 left:20px;
}
.home .controls .next{
 right:20px;
}
.home .controls .prev img,
.home .controls .next img{
	width: 100%;
}
.home .indicator{
	position: absolute;
	left:50%;
	bottom: 170px;
	z-index: 2;
	transform: translateX(-50%);
}

.home .indicator div{
	display: inline-block;
	width:18px;
	height: 18px;
	color:#ffffff;
	background-color: #C4C4C4;
	border-radius:50%;
	text-align: center;
	line-height: 18px;
	margin:0 3px;
}
.home .indicator div.active{
 background-color: #EE3A48;
}
.home-items{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 70%;
	z-index: 3;
	margin: -110px auto 0 auto;
}
.home-items .home-item{
	width: 31%;
	background-color: #F3F1FF;
	box-shadow: 0px 5px 10px rgba(106, 106, 106, 0.12);
	border-radius: 13px;
	text-align: center;
	padding: 15px;
}
.home-items .home-item .home-item-head{
	text-transform: capitalize;
	font-size: 24px;
	color: #EE3A48;
	font-weight: 600;
	margin-top: 5px;
}
.home-items .home-item .home-item-desc{
	font-size: 18px;
	color: #666666;
	margin-top: 5px;
}

/*About Style Starts*/
.about{
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.about .about-img{
	width: 50%;
}
.about .about-img img{
	width: 100%;
}
.about .about-text{
	width: 48%;
}
.about .about-text .about-text-title{
	font-size: 24px;
	color: #EE3A48;
	text-transform: capitalize;
	font-weight: 600;
}
.about .about-text .about-text-head{
	font-size: 32px;
	font-weight: 600;
	color: #6262A0;
}
.about .about-text .about-text-head span{
	color: #EE3A48;
}
.about .about-text .about-text-desc p{
	font-size: 16px;
	color: #666666;
	margin-top: 10px;
}
.about .about-text .about-text-btn{
	margin-top: 20px;
}
.about .about-text .about-text-btn a{
	font-size: 16px;
	font-weight: 700;
	color: #FFFFFF;
	border-radius: 30px;
	padding: 7px 15px;
	background-color: #EE3A48;
	text-transform: capitalize;
}

/*Our Services Style Starts*/
#services{
	margin: 30px 0;
}
.section-title{
	text-align: center;
}
.section-title p{
	font-size: 42px;
	font-weight: 600;
	color: #EE3A48;
	text-transform: capitalize;
}
.section-desc{
	margin-bottom: 40px;
}
.section-desc p{
	font-size: 17px;
	color: #666666;
	text-align: center;
}
.services-items{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.services-items .services-item{
	width: 32%;
	background: #FFFFFF;
	box-shadow: 0px 5px 10px rgba(106, 106, 106, 0.12);
	border-radius: 0px;
	margin-bottom: 20px;
}
.services-items .services-item .services-item-img{
	background-color: #F9FBFF;
	padding: 15px 30px;
}
.services-items .services-item .services-item-img img{
	width: 100%;
}
.services-items .services-item .services-item-head p{
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	margin: 10px 0;
	text-align: center;
	color: #EE3A48;
	text-transform: capitalize;
}
.services-items .services-item .services-item-desc{
	padding: 0 10px 15px 10px;
}
.services-items .services-item .services-item-desc p{
	font-size: 16px;
	text-align: center;
	text-align: center;
	color: #666666;
}

/*Investors Style Starts*/
#investors{
	margin-bottom: 50px;
}
.investors-items{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 95%;
	margin: 0 auto;
}
.investors-items .investors-item{
	width: 23%;
	background-color: #F9FBFF;
	border-radius: 13px;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.12);
}
.investors-items .investors-item .investors-item-img{
	height: 200px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin-bottom: 40px;
}
.investors-items .investors-item .investors-item-img img{
	width: 80%;
}
.investors-items .investors-item .investors-item-head{
	padding: 0 20px;
}
.investors-items .investors-item .investors-item-head p{
	font-size: 18px;
	color: #EE3A48;
}
.investors-items .investors-item .investors-item-desc{
	padding: 0 20px 20px 20px;
}
.investors-items .investors-item .investors-item-desc p{
	font-size: 14px;
	color: #EE3A48;
}

/*FAQ Style Starts*/
#faq{
	margin-bottom: 50px;
}
.faq .accordion {
    background-color: #F9FBFF;
    color: #666666;
    cursor: pointer;
    padding: 10px 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 26px;
    font-weight: 400;
    transition: 0.4s;
    border-left: 5px solid #EE3A48;
    margin-bottom: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
}
.faq .accordion span{
	font-size: 36px;
	border: none;
	color: #EE3A48;
	font-weight: 700;
	margin-right: 10px;
}
.faq .active, .faq .accordion:hover {
  background-color: #F9FBFF;
}

.faq .accordion:after {
	content: '\002B';
  	color: #EE3A48;
  	font-weight: bold;
  	float: right;
  	margin-left: 5px;
  	border-radius: 50%;
  	background-color: #C4C4C4;
  	padding: 0 7px;
}

.faq .active:after {
  content: "\2212";
}

.faq .panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-left: 5px solid #138EAA;
  margin-top: -15px;
  margin-bottom: 15px;
  color: #666666;
  font-size: 16px;
}
.faq .panel p{
	margin-top: 10px;
}
.faq .panel span{
	font-size: 36px;
	color: #138EAA;
}

/*Contact Style Starts*/
#contact{
	margin-bottom: 50px;
}
.contact{
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.contact .contact-img{
	width: 50%;
	text-align: right;
}
.contact .contact-img img{
	width: 90%;
}
.contact .contact-form{
	width: 48%;
}
.contact .contact-form .form-group label{
	display: block;
	text-transform: capitalize;
	color: #EE3A48;
	font-size: 18px;
	font-weight: 400;
}
.contact .contact-form .form-group .form-control{
	width: 100%;
	border: none;
	outline: none;
	border-bottom: 1px solid #C9C9C0;
	margin-bottom: 10px;
	padding: 4px 0;
}
.contact .contact-form .contact-btn{
	margin-top: 20px;
}
.contact .contact-form .contact-btn button{
	padding: 7px 15px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	background-color: #EE3A48;
	cursor: pointer;
	border-radius: 30px;
	border: none;
	text-transform: capitalize;
}

#footer .footer-img img{
	width: 100%;
}
.footer{
	width: 100%;
	margin-top: -10px;
	padding: 20px 50px 50px 50px;
	background-color: #4F4F4F;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer .company-info{
	width: 35%;
}
.footer .company-info .company-info-address,
.footer .company-info .company-info-email{
	font-size: 18px;
	font-weight: 400;
	margin-top: 10px;
	color: rgba(255, 255, 255, 0.7);
} 
.footer .company-info .company-info-address span,
.footer .company-info .company-info-email span{
	font-weight: bold;
	margin-right: 10px;
	color: #ffffff;
}
.footer .links{
	width: 45%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer .links .links-item{
	width: 33.33%;
}
.footer .links .links-item .links-item-head{
	font-size: 18px;
	font-weight: 600;
	color: #E02828;
	margin-bottom: 20px;
	text-transform: capitalize;
}
.footer .links .links-item .links-item-links ul li{
	margin-bottom: 5px;
}
.footer .links .links-item .links-item-links ul li a{
	font-size: 18px;
	letter-spacing: 0.3px;
	color: #BFBFBF;
	text-transform: capitalize;
}
.footer .social-links{
	width: 20%;
}
.footer .social-links .social-links-head{
	font-size: 18px;
	font-weight: 600;
	color: #E02828;
	margin-bottom: 20px;
	text-transform: capitalize;
}
.footer .social-links .social-links-links ul li{
	display: inline;
}

/*Copyright Style starts*/
.copyright{
	width: 100%;
	background-color: #4F4F4F;
}
.copyright .copyright-text{
	text-align: center;
	padding: 15px 0;
}
.copyright .copyright-text p{
	font-size: 18px;
	color: #E4E4E4;
	font-weight: 400;
}


/* Media queries - Responsive timeline on screens less than 600px wide */
/*Style for different devices*/
@media(max-width: 767px){
	.header{
		padding: 15px;
	}
	.container{
		width: 90%;
	}
	.header-main{
		width: 100%;
	}
	.header .logo{
		padding: 0;
	}
	.header .logo a img{
		width: 120px;
	}
	.header .menu-overlay.active{
	visibility: visible;
	opacity: 1;
	}
	.header .nav-menu{
		position: fixed;
		right: -280px;
		visibility: hidden;
		width: 280px;
		height: 100%;
		top:0;
		overflow-y: auto;
		background-color: #222222;
		z-index: 1000;
		padding: 15px 0;
		transition: all 0.5s ease;
	}
	.header .nav-menu.open{
		visibility: visible;
		right: 0px;
	}
	.header .menu > .menu-item{
		display: block;
		margin:0;
	}
	.header .menu > .menu-item-has-children > a{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.header .menu > .menu-item > a{
		color: #ffffff;
		padding: 12px 15px;
		border-bottom: 1px solid #333333;
	}
	.header .menu > .menu-item:first-child > a{
	    border-top: 1px solid #333333;	
	}
	.header .close-nav-menu,
	.header .open-nav-menu{
		display: flex;
	}
	.header .register-login-btn{
		display: none;
	}
	.header .menu > .menu-item.register-login-btn-sm{
		display: block;
	}

	.home{
		top: 60px;
   		height: 270px;
   	}
    .home .caption{
    	margin-left: 0;
    }
    .home .slide{
    	padding: 30px 15px 0 15px;
    }
    .home .controls,
	.home .indicator{
		display: none;
	}
	.home .caption h1{
		font-size: 24px;
	}
	.home .caption a{
		padding: 5px 15px;
	}
	.home-items{
		margin-top: -10px;
		width: 90%;
	}
	.home-items .home-item{
		width: 100%;
		margin-bottom: 20px;
	}

	.about .about-img,
	.about .about-text{
		width: 100%;
	}

	.section-title p {
		font-size: 32px;
	}
	.section-title img{
		width: 125px;
	}
	.services-items .services-item{
		width: 100%;
	}

	.investors-items .investors-item{
		width: 95%;
		margin: 0 auto 30px auto;
	}

	.faq .accordion{
		font-size: 16px;
		position: relative;
	}
	.faq .accordion span{
		font-size: 20px;
	}
	.faq .accordion:after{
		padding: 3px 7px;
		position: absolute;
		top: 20px;
		right: 10px;
	}
	.faq .panel span {
		font-size: 20px;
	}

	.contact .contact-form{
		width: 100%;
	}
	.contact .contact-img{
		display: none;
	}

	.footer{
		padding: 20px;
	}
	.footer .company-info{
		width: 100%;
		margin-bottom: 20px;
	}
	.footer .links{
		width: 100%;
		margin-bottom: 20px;
	}
	.footer .links .links-item{
		width: 33.33%;
	}
	.footer .links .links-item:nth-child(3){
		padding-left: 20px;
	}
	.footer .links .links-item .links-item-links ul li a{
		font-size: 16px;
	} 
	.footer .social-links{
		text-align: center;
		width: 100%;
	}

	.copyright .copyright-text p{
		font-size: 16px;
	}
}

@media(min-width: 768px) and (max-width:  1023px){
	.container{
		width: 90%;
	}
	.header{
		padding: 15px 30px;
	}
	.header-main{
		width: 100%;
	}
	.header .logo{
		padding: 0;
	}
	.header .logo a img{
		width: 120px;
	}
	.header .menu-overlay.active{
	visibility: visible;
	opacity: 1;
	}
	.header .nav-menu{
		position: fixed;
		right: -280px;
		visibility: hidden;
		width: 400px;
		height: 100%;
		top:0;
		overflow-y: auto;
		background-color: #222222;
		z-index: 1000;
		padding: 15px;
		transition: all 0.5s ease;
	}
	.header .nav-menu.open{
		visibility: visible;
		right: 0px;
	}
	.header .menu > .menu-item{
		display: block;
		margin:0;
	}
	.header .menu > .menu-item > a{
		color: #ffffff;
		padding: 15px;
		font-size: 18px;
		border-bottom: 1px solid #333333;
	}
	.header .menu > .menu-item:first-child > a{
	    border-top: 1px solid #333333;	
	}
	.header .close-nav-menu,
	.header .open-nav-menu{
		display: flex;
	}
	.header .register-login-btn{
		display: none;
	}
	.header .menu > .menu-item.register-login-btn-sm{
		display: block;
	}

	.home{
		height: 400px;
		overflow:hidden;
		position: relative;
		top: 60px;
	}
	.home .slider{
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
		margin: auto;
	}
	.home .slide{
		padding: 50px 40px 0 40px;
		width: 100%;
		position: static;
		margin: auto;
	}
	.home .caption{
		margin-left: 0;
	}
	.home .caption h1{
		font-size: 30px;
	}
	.home .controls,
	.home .indicator{
		display: none;
	}
	.home-items {
		width: 90%;
		margin-top: -70px;
	}
	.home-items .home-item{
		width: 31%;
	}

	.about{
		padding: 50px 0;
	}
	.about .about-text .about-text-title{
		font-size: 20px;
	}
	.about .about-text .about-text-head{
		font-size: 26;
	}
	.about .about-text .about-text-desc{
		font-size: 16px;
	}

	.investors-items .investors-item .investors-item-img{
		height: 140px;
	}

	.faq .accordion{
		font-size: 20px;
	}
	.faq .accordion span{
		font-size: 26px;
	}
	.faq .panel span {
		font-size: 26px;
	}

	.footer{
		padding: 30px;
	}
	.footer .company-info .company-info-address, .footer .company-info .company-info-email{
		font-size: 16px;
	}
	.footer .links .links-item .links-item-links ul li a{
		font-size: 16px;
	}

}

@media(min-width: 1024px) and (max-width:  1050px){
	.container{
		width: 80%;
	}
	.header .menu > .menu-item{
		margin-left: 25px;
	}
	.header .menu > .menu-item a,
	.header .register-login-btn a{
		font-size: 16px;
	}
	.home-items {
		width: 80%;
	}

	.about{
		padding: 50px 0;
	}

	.investors-items .investors-item .investors-item-img{
		height: 170px;
	}
}